/* fonts import */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

h1 {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 8em;
	margin-top: 0.15em;
}

h4 {
	font-size: 2em;
}

h3 {
		font-size: 1.5em;
}

body {
	display : flex;
	flex-direction: column;
	align-items: center;
	background-color: #FEF6FD;
	color: blue ;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 110%;
}


li {
	list-style-type: none;
}


.bouton{
	color: pink;
	font-size: 1.2em;
	background-color: blue;
	border-radius: 5px;
	border: 2px solid blue;
	font-family: 'Barlow Condensed', sans-serif;
	padding: 0.5em 0.4em 0.5em 0.4em;
}

.bouton:hover {
	animation-duration: 1s;
	animation-name: changecouleur;
	animation-fill-mode: forwards;
}

.active {

}

@keyframes changecouleur {
  from {
		color: pink;
		background-color: blue;
		border: 2px solid blue;
		border-radius: 5px;
  }

  50% {
		color: blue;
		background-color: pink;
		border: 2px solid pink;
		border-radius: 25px;
  }

	to {

		color: pink;
		background-color: blue;
		border: 2px solid blue;
		border-radius: 50px;

	}
}


.question {
	display: none;
	visibility: hidden
}

.active {
	display: block;
	visibility: visible;
	animation: fadeIn 1.5s;
	animation-timing-function: ease-out;
}

.onvoit {
	font-size: 3em;
	margin-top: -50px;
}


.corps {
	padding : 0em 15em 0em 15em;
}


.recharge {
	display: inherit;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}

.final{
	text-align: center;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		margin-top: 50px;
	}

	50%	{
		opacity: 1;
		margin-top: 15px;

	}

	100% {
		margin-top: 0;
	}
}


@media screen and (max-width: 768px) {

	h1 {
			font-size: 7em;
			font-family: 'Barlow Condensed';
			font-weight: bolder;
			margin-top: 0.15em;
		}

	h4 {
		font-size: 1.5em;
		margin-top: -0.5em;
	}


	h3, .bouton{
			font-weight: lighter;
			font-size: 1.2em;
	}

	body {
		font-size: 100%;
	  display: -webkit-flex;
	  display: flex;
	}

	.formulaire {
		font-size: 1em;
	}

	.corps {
		padding : 0em 7em 0em 7em;
	}


	.onvoit {
		font-size: 2.4em;
		align-self: center;
		margin-top : -30px;
	}

	.imagestyle {
	    margin: 0em 3em 0em 3em;
	}

}
